simple-calculator-wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="test.com.wsdl" xmlns:xsd1="test.com.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="test.com.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="test.com.xsd" xmlns:sch="test.com.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="average"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" minOccurs="0" name="nums" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="averageResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="output" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="product"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="num1" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="num2" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="productResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="output" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="sum"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="num1" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="num2" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="sumResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="output" type="xs:double"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="SumResponse">
    <wsdl:part name="body" element="xsd1:sumResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductResponse">
    <wsdl:part name="body" element="xsd1:productResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SumRequest">
    <wsdl:part name="body" element="xsd1:sum">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductRequest">
    <wsdl:part name="body" element="xsd1:product">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AverageResponse">
    <wsdl:part name="body" element="xsd1:averageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AverageRequest">
    <wsdl:part name="body" element="xsd1:average">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalcInput">
    <wsdl:operation name="average">
      <wsdl:input message="tns:AverageRequest">
    </wsdl:input>
      <wsdl:output message="tns:AverageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product">
      <wsdl:input message="tns:ProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:ProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input message="tns:SumRequest">
    </wsdl:input>
      <wsdl:output message="tns:SumResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcInputSOAPBinding" type="tns:CalcInput">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="average">
      <soap:operation soapAction="average" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product">
      <soap:operation soapAction="product" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="sum" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcInputService">
    <wsdl:port name="CalcInputServicePort" binding="tns:CalcInputSOAPBinding">
      <soap:address location="http://localhost:10000"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
